  body {
    margin: 0;
  }

  video,
  img {
    width: 100%;
    pointer-events: none;
  }

  input {
    width: 100%;
  }

  .over {
    position: absolute;
  }

  .imgwrap {
    position: absolute;
    left: calc(50% - 450px);
    max-width: 900px;
    width: 100%;
    overflow: hidden;
  }

  @media only screen and (max-width: 900px) {
    .imgwrap {
      left: 0;
    }
  }

  .carousel {
    width: 10000px;
  }

  .carousel img {
    width: 600px;
  }