@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}

/* body::-webkit-scrollbar { display: none;  } */

.fp {
  height: 70%;
}

.strip {
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100%;
  display: none;
}

.close {
  position: fixed;
  z-index: 101;
  left: calc(50% + 450px - 80px);
  top: 20px;
  display: none;
  cursor: pointer;
}

.closeabout {
  left: calc(100% - 120px);
}

@media only screen and (max-width: 900px) {
  .close {
    left: calc(100% - 80px);
  }
}



/* for grid */

#grid {
  opacity: .5;
  -webkit-filter: blur(20px);
  transition: .5s;
  max-width: 1550px;
  margin: auto;
  transform: scale(.95);
}

.grid-container {
  display: grid;
}

.grid-container--fill {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.grid-element {
  position: relative;
}

img {
  width: 100%;
  cursor: pointer;
}



/* tiles */

.ov {
  position: absolute;
  opacity: 0;
}

.ov:hover {
  opacity: 1;
  transition: .5s ease;
}

@media only screen and (max-width: 800px) {
  .ov {
    opacity: 1;
  }
}



/* infotext */

#info {
  position: absolute;
  left: 10%;
  bottom: 10%;
  z-index: 100;
  transition: .25s;
  cursor: default;
  color: rgb(201, 201, 201);
}
.title {
  font-size: 4.3em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -12px;
}

.subtitle {
  font-size: 3.2em;
  font-weight: 300;
  min-height: 70px;
  color: rgb(201, 201, 201);
}

.description {
  font-size: 1.1em;
  margin-top: 20px;
  max-width: 400px;
  text-align: justify;
}

#fun, #aboutme, #mywork {
  font-size: 1.22em;
  font-weight: 600;
  cursor: pointer;
  transition: .5s;
}
#fun {
  color: rgb(255, 0, 85);
}
#aboutme {
  color: rgb(255, 0, 85);
}
#mywork {
  color: rgb(255, 0, 85);
}
#fun:hover {
  color: rgb(0, 255, 170);
}
#aboutme:hover, #mywork:hover {
  color: rgb(255, 192, 17); 
}
#mywork:hover {
  color: rgb(132, 0, 255);
}

@media only screen and (max-width: 800px) {
  #info {
    top: 0;
    left: 0;
    padding: 5%;
    height: fit-content;
  }
  .title {
    font-size: 2em;
    letter-spacing: 0;
    text-transform: none;
  }
  .subtitle {
    font-size: 1.6em;
    min-height: 37px;
  }
  .description {
    font-size: 1em;
    max-width: none;
    text-align: left;
  }
  .fp {
    height: 50%;
  }
}



/* cubes */

#cubes {
  position: fixed;
  opacity: 0;
  transition: .5s;
  pointer-events: none;
}