/* TOPBAR */

.topbar {
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  padding: 10px 0;
  /* background: red; */
}

.link-btn {
  font-size: 0;
}

.topbar .avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  /* padding: 20px; */
}

.name {
  /* display: none; */
  margin-right: auto;
}

.link-btn {
  user-select: none;
  /* cursor: pointer; */
  color: white;
  border-radius: 50px;
  padding: 15px;
  /* font-family: "Open Sans", sans-serif; */
  /* font-weight: 600; */
  /* text-decoration: none; */
  transition: all 0.2s ease-out;
}

/* .about-btn-on {
  color: var(--background-color) !important;
  background-color: var(--top-bar-button-color);
} */

@media (hover: hover) {
  .link-btn:hover {
    transform: scale(1.1);
    color: black;
    background-color: white;
  }
}

.link-btn:active {
  transform: scale(0.9);
}
