/*
html,
body {
	height: 100%;
	overflow: hidden;
}

body {
	background: black
}

button {
	-webkit-appearance: none;
	background: transparent;
	border: 0;
	outline:0;
}

svg {
	padding: 5px;
}

.arrow {
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -45px;
	margin-left: -35px;
	width: 70px;
	height: 90px;
}

.left {
	left: 42%;
}

.right {
	left: 58%;
}*/

/* .arrow { */
	/* opacity: 1; */
/* } */

.arrow:hover polyline {
	stroke-width: 3;
	opacity: .5;
}

/*.right:hover polyline {
	stroke-width: 3;
}*/

polyline {
	transition: all 250ms ease-in-out;
}